.title-lg{
    font-weight: bold;
    font-size: xxx-large;
}
.margin-horizontal{
    margin-left: 2px;
    margin-right: 2px;
}
.poster {
    opacity: 0.9;
    max-width: 18%;
    margin-left: 2px;
    margin-right: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button-fixed-width{
    width: 175px;
}

/* Styles for the background image */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.image-blur {
    filter: blur(10px);
}

.background{
    z-index: -1;
}

.container-gray{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-gray-transp{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.height-full{
    height: 100%;
    width: 100%;
}

.card-img-container {
    position: relative;
    overflow: hidden;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity as needed */
}
.card-img-container:hover .card-img-overlay {
    opacity: 1;
}

.container-box {
    position: relative;
    height: 100%;
}

.fade-container {
    top: 0;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.fade-effect {
    position: absolute;
    background: linear-gradient(to bottom, transparent 70%, white 90%);
    width: 100%;
    height: 100%;
}
.fade-effect-right {
    position: absolute;
    background: linear-gradient(to right, transparent 80%, white);
    width: 100%;
    height: 100%;
}
.fade-effect-left {
    position: absolute;
    background: linear-gradient(to left, transparent 80%, white);
    width: 100%;
    height: 100%;
}

.flex-grow-2{
    flex-grow: 4;
}

.flex-grow-1{
    flex-grow: 1;
}

.scrollableDiv {
    overflow-y: auto;
    max-height: 88vh;  /* Ajustar según necesidades */
}

.fullHeightDiv {
    height: 88vh;
}

.filter-width{
    width: 150px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.thirty-width{
    width: 40%;
}

.seventy-width{
    width: 60%;
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 1001; /* Higher z-index than the popup to ensure it covers all content */
}

.popup {
    display: none;
    position: fixed;
    top: 50%; /* Vertically center the popup */
    left: 50%; /* Horizontally center the popup */
    transform: translate(-50%, -50%); /* Center the popup precisely */
    background-color: #fff;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1002; /* Higher z-index than the overlay to ensure it appears on top */
}

/* CSS styles for the star rating */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating > i {
    font-size: 2em; /* Adjust the font size to control the size of the icons */
    margin: 0 0.1em; /* Adjust the margin to control the spacing between icons */
    cursor: pointer;
}

.rating > i:hover, .rating > i.selected {
    color: gold; /* Change the color to gold (or any other color you prefer) on hover and when selected */
}

/* CSS styles for the review text area */
.review-textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    resize: none;
    padding: 10px;
    font-size: 1em;
}