.list-card{
    border: solid darkgrey;
    border-radius: 3%;
    margin: 10px;
    width: 20rem;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s ease;
}

.list-card:hover{
    background-color: lightgray;
}

.list-card-images{
    object-fit: cover;
    object-position: center;
    width: 8rem;
    height: 9rem;
}

.image-grid{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

.list-card-body{
    padding: 5%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1 1 auto;
}