.moovie-default{
    background-color:#f0f0f0 ;
}

.default-container{
    padding-top: 1%;
    padding-inline: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    font-size: 3em;
}

.bold-title{
    font-weight: bold;
}

.not-link{
    text-decoration: none;
    color: inherit;
}
